.top {
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
}

.top__wrapper {
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 256px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: content-box;
}

.top__title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 600;
  font-size: 71px;
  line-height: 115%;
  margin-bottom: 39px;
}

.top__description {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 133%;
  max-width: 734px;
  margin-bottom: 81px;
}

.top__btn-wrap{
  position: relative;
  max-width: 335px;
  &:before {
    position: absolute;
    display: block;
    content: "";
    background-image: url("../img/coin.png");
    background-size: cover;
    background-repeat: no-repeat;
    right: -12px;
    top: -50px;
    width: 113px;
    height: 150px;
    z-index: 3;
  }
}

.top__btn {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: -50%;
    bottom: -50%;
    background: linear-gradient(90deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.6) 100%);
    width: 45px;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    left: -65%;
    -webkit-animation-name: blick;
    animation-name: blick;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
@-webkit-keyframes blick {
  0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; }
}


@media (max-width: 1024px) {
  .top {
    background-position: center;

  }

  .top__title {
    font-size: 35px;
  }

  .top__description {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .top__wrapper {
    padding-bottom: 50px;
  }

  .top__btn {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .top__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .top__description {
    margin-top: 20px;
  }
}
